## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/

## Build results
[Bb]uild[Ll]og.*
*.dll
*.exe
*.pdb

## NuGet
**/[Pp]ackages/*
*.nupkg
**/packages/*

## User-specific
*.DotSettings.user

NUL
nul
